.center{
    margin: 0 auto;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #24252a;
}
.form-movie-new{
    /*max-width: 100%;*/
}
.row-movie .has-license, .row-license .is-valid{
    color: #28a745;
}

.row-movie .no-license, .row-license .not-valid{
    color: #ca2819;
}

