{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}

{% block heading-title %} Evidované filmy {% endblock %}

{% block heading-bar %}
<a href="{% url 'movies/new' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-download fa-sm text-white-50"></i> Přidat nový</a>
{% endblock %}

{% block content %}
<!-- Movies list -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Zobrazeno {{ movies_count }} filmů</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Název</th>
                    <th>Cena vstupného</th>
                    <th>Lze promítat</th>
                </tr>
                </thead>
                <tbody>
                {% for movie in movies %}
                <tr class="row-movie">
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.price_of_movie }} Kč</td>
                    {# TODO implement has license. #}
                    {% if movie.has_license %}
                        <td class="has-license">Ano</td>
                    {% else %}
                        <td class="no-license">Ne</td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}