{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}

{% block heading-title %} Nový film {% endblock %}

{% block content %}
<div class="col-xl-10 col-lg-10 col-md-10 form-movie-new center">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4"></h1>
                        </div>
                        <form class="user" action="/movies/new" method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-12 mb-12 mb-sm-0">
                                    <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                                    {{ form.title }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="{{ form.price_of_movie.id_for_label }}">{{ form.price_of_movie.label }}</label>
                                    {{ form.price_of_movie }}
                                </div>
                            </div>
                            <input type="submit" value="Uložit"
                                   class="btn btn-primary btn-user btn-block col-6 center"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}