{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}

{% block heading-title %} Evidované licence {% endblock %}

{% block heading-bar %}
<a href="{% url 'movies/new' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Přidat novou</a>
{% endblock %}

{% block content %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Zobrazeno {{ licenses_count }} licencí</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Název filmu</th>
                    <th>Platnost od</th>
                    <th>Platnost do</th>
                    <th>Cena</th>
                    <th>Platná</th>
                </tr>
                </thead>
                <tbody>
                {% for license in licenses %}
                <tr class="row-license">
                    <td>{{ license.movie.title }}</td>
                    <td>{{ license.from_field }}</td>
                    <td>{{ license.to }}</td>
                    <td>{{ license.price }} Kč</td>
                    {# TODO implement is valid. #}
                    {% if license.is_valid %}
                        <td class="is-valid">Ano</td>
                    {% else %}
                        <td class="not-valid">Ne</td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}