{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}

{% block heading-title %} Nová licence {% endblock %}

{% block content %}
<div class="col-xl-10 col-lg-10 col-md-10 form-license-new center">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4"></h1>
                        </div>
                        <form class="user" action="/licenses/new" method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-12 mb-12 mb-sm-0">
                                    <label for="{{ form.movie.id_for_label }}">{{ form.movie.label }}</label>
                                    {{ form.movie }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="{{ form.price.id_for_label }}">{{ form.price.label }}</label>
                                    {{ form.price }}
                                </div>
                            </div>
                            <h3>Platnost licence</h3>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form.from_field }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.to }}
                                </div>
                            </div>
                            <input type="submit" value="Uložit"
                                   class="btn btn-primary btn-user btn-block col-6 center"/>
                        </form>

                        {% if form.subject.errors %}
                        <ol>
                            {% for error in form.subject.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                        </ol>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}